.navbar {
  background-color: var(--card-bg-color);
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 4px 6px rgba(5, 5, 5, 0.1);
}

.navbar-list {
  list-style: none;
  display: flex;
  gap: 1rem;
  margin: 0;
  padding: 0;
}

.navbar-item {
  display: inline-flex;
}

.navbar-link {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.75rem 1rem;
  font-size: 1rem;
  color: var(--text-color);
  text-decoration: none;
  transition: color 0.3s, background-color 0.3s;
}

.navbar-link:hover {
  color: var(--primary-color);
  background-color: var(--primary-hover-color);
  border-radius: 4px;
}

.navbar-profile {
  position: relative;
}

.profile-icon {
  font-size: 2rem;
  cursor: pointer;
  color: var(--text-color);
}

.profile-dropdown {
  position: absolute;
  top: 3rem;
  right: 0;
  background-color: white;
  color: rgb(8, 8, 8);
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 150px;
  padding: 1rem;
  text-align: center;
  z-index: 1000;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.profile-dropdown p {
  margin: 0 0 1cm;
}

.dropdown-btn {
  display: block;
  width: 100%;
  padding: 0.5rem 0;
  margin-bottom: 0.5rem;
  background-color: var(--primary-color);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
}

.dropdown-btn:hover {
  background-color: var(--primary-hover-color);
}
