.navbar {
  background-color: var(--card-bg-color);
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.navbar-list {
  list-style: none;
  display: flex;
  gap: 1rem;
  margin: 0;
  padding: 0;
}

.navbar-item {
  display: inline-flex;
}

.navbar-item button {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.75rem 1rem;
  font-size: 1rem;
  color: var(--text-color);
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: color 0.3s, background-color 0.3s;
}

.navbar-item button:hover {
  color: var(--primary-color);
  background-color: var(--primary-hover-color);
  border-radius: 4px;
}
